/**
Set styles for project landing page.
**/
body {
  background-color: #121212;
  font-family: Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-repeat: repeat-x;
  background-size: cover;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}


.content{
  overflow: auto;
}

.fieldset {
  border: 2px solid lightgrey;
  border-top: none;
  padding: 1.5em;
  margin: 2em 2px;
}

.fieldset>h1 {
  font-size: 1.5em;
  margin: -1.5em -0.5em 0;
}

.fieldset>h1>span {
  float: left;
}

.fieldset>h1:before {
  border-top: 2px solid lightgrey;
  content: ' ';
  float: left;
  margin: 0.5em 2px 0 -1px;
  width: 0.75em;
}

.fieldset>h1:after {
  border-top: 2px solid lightgrey;
  content: ' ';
  display: block;
  height: 1.5em;
  left: 2px;
  margin: 0 1px 0 0;
  overflow: hidden;
  position: relative;
  top: 0.5em;
}

button {
  font-size: 1.0em;
  text-align: center;
  background-color: #CBC3E3;
  border-radius: 4px;
  padding: 14px 40px;
}
